html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 280px;
  min-height: 280px;
  padding-top: 20px;
  padding-left: 20px;

  font-size: 14px;
  line-height: 1.2;
  font-family: "Arial", sans-serif;

  background-color: #ecf0f1;
}

.bg {
  width: 200px;
  min-height: 195px;
  padding: 20px;
  padding-bottom: 17px;
  color: white;
  background-color: #1abc9c;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
}

.social-link {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: 11px;
  margin-right: 5px;
  background-color: #16a085;
  background-image: url("social-challenge.png");
  background-repeat: no-repeat;
}

.fb {
  background-position: 0 0;
}

.tw {
  background-position: -30px 0;
}

.go {
  background-position: -60px 0;
}