html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 280px;
  min-height: 280px;
  padding: 10px;

  font-size: 14px;
  line-height: 1.4;
  font-family: "Arial", sans-serif;

  background-color: #ecf0f1;
}

.main-menu {
  width: 200px;
  margin: 14px 0;
  padding: 0;
  list-style: none;
}

.main-menu a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #ffffff;
  background-color: #2980b9;
  border-bottom: 2px solid #2c3e50;
}

/*или написать ниже .main-menu .active a*/
/*.main-menu li a:hover {*/
.main-menu a:hover {
  background-color: lime;
}

.main-menu .active a {
  background-color: #1abc9c;
  border-color: #2ecc71;
}