body {
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  color: #777777;
}

.comment {
  position: relative;

  margin-top: 90px;
  margin-right: 20px;
  margin-left: 50px;
}

.comment-avatar {
  width: 70px;
  height: 70px;

  background: #7f8c8c url("avatar.png") no-repeat 50% 50%;
}

.comment-author {
  margin-bottom: 5px;

  font-weight: bold;
  font-size: 16px;
}

.comment-text {
  padding: 12px;
  background-color: #f8f8f8;
  border-bottom: 5px solid #e5e6e6;
}

.comment-date {
  margin-top: 5px;
  font-size: 12px;
  color: #bdc3c7;
}
