html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 380px;
  min-height: 280px;
  padding: 10px;

  font-size: 14px;
  line-height: 1.4;
  font-family: "Arial", sans-serif;

  background-color: #ecf0f1;
}

.main-menu,
.sub-menu {
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu > li {
  position: relative;
}

.main-menu li a {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  background-color: #2980b9;
  border-bottom: 2px solid #2c3e50;
}

.main-menu .open a {
  background-color: #1abc9c;
}

.sub-menu {
  position: absolute;
  top: 0;
  left: 180px;
  z-index: 10;
}

.sub-menu li a {
  border-bottom: 2px solid #2ecc71;
}